In [2]:
import pandas as pd

df = pd.read_csv('housing.csv')

In [3]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [4]:
df['housing_median_age'] > 50

0        False
1        False
2         True
3         True
4         True
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: housing_median_age, Length: 20640, dtype: bool

In [5]:
df[df['housing_median_age'] > 50]

       longitude  latitude  ...  median_house_value  ocean_proximity
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
5        -122.25     37.85  ...            269700.0         NEAR BAY
6        -122.25     37.84  ...            299200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20142    -119.06     34.36  ...            183300.0        <1H OCEAN
20220    -119.27     34.28  ...            349000.0       NEAR OCEAN
20236    -119.27     34.27  ...            198400.0       NEAR OCEAN
20237    -119.27     34.27  ...            206600.0       NEAR OCEAN
20592    -121.58     39.14  ...             55000.0           INLAND

[1321 rows x 10 columns]

In [6]:
df[df['ocean_proximity'] == 'NEAR OCEAN']

       longitude  latitude  ...  median_house_value  ocean_proximity
1850     -124.17     41.80  ...            109400.0       NEAR OCEAN
1851     -124.30     41.80  ...             85800.0       NEAR OCEAN
1852     -124.23     41.75  ...             73200.0       NEAR OCEAN
1853     -124.21     41.77  ...             68400.0       NEAR OCEAN
1854     -124.19     41.78  ...             74600.0       NEAR OCEAN
...          ...       ...  ...                 ...              ...
20380    -118.83     34.14  ...            500001.0       NEAR OCEAN
20381    -118.83     34.14  ...            321800.0       NEAR OCEAN
20423    -119.00     34.08  ...            428600.0       NEAR OCEAN
20424    -118.75     34.18  ...            357600.0       NEAR OCEAN
20425    -118.75     34.17  ...            325900.0       NEAR OCEAN

[2658 rows x 10 columns]

In [7]:
df[(df['housing_median_age'] > 50) & (df['ocean_proximity'] == "NEAR OCEAN")]

       longitude  latitude  ...  median_house_value  ocean_proximity
2538     -124.17     40.80  ...             60000.0       NEAR OCEAN
2539     -124.16     40.80  ...             80500.0       NEAR OCEAN
2540     -124.16     40.79  ...             76900.0       NEAR OCEAN
2541     -124.17     40.80  ...             75500.0       NEAR OCEAN
2542     -124.17     40.80  ...             62500.0       NEAR OCEAN
...          ...       ...  ...                 ...              ...
18599    -122.12     37.12  ...            206900.0       NEAR OCEAN
19318    -123.02     38.46  ...            120000.0       NEAR OCEAN
20220    -119.27     34.28  ...            349000.0       NEAR OCEAN
20236    -119.27     34.27  ...            198400.0       NEAR OCEAN
20237    -119.27     34.27  ...            206600.0       NEAR OCEAN

[140 rows x 10 columns]

In [8]:
df[(df['housing_median_age'] > 50) | (df['ocean_proximity'] == "NEAR OCEAN")]

       longitude  latitude  ...  median_house_value  ocean_proximity
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
5        -122.25     37.85  ...            269700.0         NEAR BAY
6        -122.25     37.84  ...            299200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20381    -118.83     34.14  ...            321800.0       NEAR OCEAN
20423    -119.00     34.08  ...            428600.0       NEAR OCEAN
20424    -118.75     34.18  ...            357600.0       NEAR OCEAN
20425    -118.75     34.17  ...            325900.0       NEAR OCEAN
20592    -121.58     39.14  ...             55000.0           INLAND

[3839 rows x 10 columns]

In [9]:
df.query("housing_median_age > 50 & ocean_proximity == 'NEAR OCEAN'")

       longitude  latitude  ...  median_house_value  ocean_proximity
2538     -124.17     40.80  ...             60000.0       NEAR OCEAN
2539     -124.16     40.80  ...             80500.0       NEAR OCEAN
2540     -124.16     40.79  ...             76900.0       NEAR OCEAN
2541     -124.17     40.80  ...             75500.0       NEAR OCEAN
2542     -124.17     40.80  ...             62500.0       NEAR OCEAN
...          ...       ...  ...                 ...              ...
18599    -122.12     37.12  ...            206900.0       NEAR OCEAN
19318    -123.02     38.46  ...            120000.0       NEAR OCEAN
20220    -119.27     34.28  ...            349000.0       NEAR OCEAN
20236    -119.27     34.27  ...            198400.0       NEAR OCEAN
20237    -119.27     34.27  ...            206600.0       NEAR OCEAN

[140 rows x 10 columns]

In [10]:
df[df.eval("housing_median_age > 50 & ocean_proximity == 'NEAR OCEAN'")]

       longitude  latitude  ...  median_house_value  ocean_proximity
2538     -124.17     40.80  ...             60000.0       NEAR OCEAN
2539     -124.16     40.80  ...             80500.0       NEAR OCEAN
2540     -124.16     40.79  ...             76900.0       NEAR OCEAN
2541     -124.17     40.80  ...             75500.0       NEAR OCEAN
2542     -124.17     40.80  ...             62500.0       NEAR OCEAN
...          ...       ...  ...                 ...              ...
18599    -122.12     37.12  ...            206900.0       NEAR OCEAN
19318    -123.02     38.46  ...            120000.0       NEAR OCEAN
20220    -119.27     34.28  ...            349000.0       NEAR OCEAN
20236    -119.27     34.27  ...            198400.0       NEAR OCEAN
20237    -119.27     34.27  ...            206600.0       NEAR OCEAN

[140 rows x 10 columns]

In [12]:
df[df['ocean_proximity'].isin(['NEAR BAY', 'INLAND'])]

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[8841 rows x 10 columns]

In [13]:
df[(df['ocean_proximity'].isin(['NEAR BAY', 'INLAND'])) & (df['median_house_value'] > 300000) & (df['population'] < 1000) ]

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
89       -122.27     37.80  ...            500001.0         NEAR BAY
...          ...       ...  ...                 ...              ...
18935    -122.18     38.23  ...            320400.0         NEAR BAY
19013    -122.01     38.36  ...            315200.0           INLAND
19063    -122.42     38.31  ...            333300.0         NEAR BAY
19412    -121.01     37.74  ...            435000.0           INLAND
19542    -120.92     37.63  ...            450000.0           INLAND

[461 rows x 10 columns]