In [11]:
import pandas as pd
import numpy as np 
df = pd.read_csv('housing.csv')

In [12]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [13]:
def change_unit(num):
  return num/100000

df['median_house_value'] = df['median_house_value'].apply(change_unit)

In [14]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...               4.526         NEAR BAY
1    -122.22     37.86  ...               3.585         NEAR BAY
2    -122.24     37.85  ...               3.521         NEAR BAY
3    -122.25     37.85  ...               3.413         NEAR BAY
4    -122.25     37.85  ...               3.422         NEAR BAY

[5 rows x 10 columns]

In [15]:
def get_income_group(income):
  if income >= 5:
    return "High"
  elif income < 5 and income > 2.5:
    return "Middle"
  else:
    return "Low"

df['income_group'] = df['median_income'].apply(get_income_group)
df

       longitude  latitude  ...  ocean_proximity  income_group
0        -122.23     37.88  ...         NEAR BAY          High
1        -122.22     37.86  ...         NEAR BAY          High
2        -122.24     37.85  ...         NEAR BAY          High
3        -122.25     37.85  ...         NEAR BAY          High
4        -122.25     37.85  ...         NEAR BAY        Middle
...          ...       ...  ...              ...           ...
20635    -121.09     39.48  ...           INLAND           Low
20636    -121.21     39.49  ...           INLAND        Middle
20637    -121.22     39.43  ...           INLAND           Low
20638    -121.32     39.43  ...           INLAND           Low
20639    -121.24     39.37  ...           INLAND           Low

[20640 rows x 11 columns]

In [16]:
def get_ratio(bedrooms, total_rooms):
  return bedrooms / total_rooms 

df['ratio'] = df[['total_rooms', 'total_bedrooms']].apply(lambda df: get_ratio(df['total_bedrooms'], df['total_rooms']), axis=1)
df

       longitude  latitude  ...  income_group     ratio
0        -122.23     37.88  ...          High  0.146591
1        -122.22     37.86  ...          High  0.155797
2        -122.24     37.85  ...          High  0.129516
3        -122.25     37.85  ...          High  0.184458
4        -122.25     37.85  ...        Middle  0.172096
...          ...       ...  ...           ...       ...
20635    -121.09     39.48  ...           Low  0.224625
20636    -121.21     39.49  ...        Middle  0.215208
20637    -121.22     39.43  ...           Low  0.215173
20638    -121.32     39.43  ...           Low  0.219892
20639    -121.24     39.37  ...           Low  0.221185

[20640 rows x 12 columns]

In [17]:
df['ratio'] = np.vectorize(get_ratio)(df['total_bedrooms'], df['total_rooms'])
df

       longitude  latitude  ...  income_group     ratio
0        -122.23     37.88  ...          High  0.146591
1        -122.22     37.86  ...          High  0.155797
2        -122.24     37.85  ...          High  0.129516
3        -122.25     37.85  ...          High  0.184458
4        -122.25     37.85  ...        Middle  0.172096
...          ...       ...  ...           ...       ...
20635    -121.09     39.48  ...           Low  0.224625
20636    -121.21     39.49  ...        Middle  0.215208
20637    -121.22     39.43  ...           Low  0.215173
20638    -121.32     39.43  ...           Low  0.219892
20639    -121.24     39.37  ...           Low  0.221185

[20640 rows x 12 columns]