In [23]:
import pandas as pd
import numpy as np

myArray = np.random.randint(0, 50, (10,5))
myArray

array([[36, 26,  5, 49,  0],
       [48, 18, 23, 20, 33],
       [18, 11, 47, 45, 12],
       [28, 13, 10, 14, 43],
       [27, 19, 39,  1, 12],
       [19, 40, 13,  7, 36],
       [43, 30,  0, 25,  3],
       [ 7,  1, 18, 48, 24],
       [ 5, 11, 44, 48, 43],
       [21, 39,  1, 19,  5]])

In [24]:
myIndices = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
myColumns = ['Col 1', 'Col 2', 'Col 3', 'Col 4', 'Col 5']

In [25]:
df = pd.DataFrame(data=myArray, index=myIndices, columns=myColumns)
df

   Col 1  Col 2  Col 3  Col 4  Col 5
A     36     26      5     49      0
B     48     18     23     20     33
C     18     11     47     45     12
D     28     13     10     14     43
E     27     19     39      1     12
F     19     40     13      7     36
G     43     30      0     25      3
H      7      1     18     48     24
I      5     11     44     48     43
J     21     39      1     19      5

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, A to J
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col 1   10 non-null     int64
 1   Col 2   10 non-null     int64
 2   Col 3   10 non-null     int64
 3   Col 4   10 non-null     int64
 4   Col 5   10 non-null     int64
dtypes: int64(5)
memory usage: 480.0+ bytes

In [27]:
df.shape

(10, 5)

In [28]:
df = pd.read_csv('koreanTV.csv')
df

                                        Title  ...                                        Short Story
0                                   Hellbound  ...  \nPeople hear predictions on when they will di...
1                                  Squid Game  ...  \nHundreds of cash-strapped players accept a s...
2                                     My Name  ...  \nThe story about a woman who joins an organiz...
3     Miraculous: Tales of Ladybug & Cat Noir  ...  \nMarinette and Adrien, two normal teens, tran...
4                                   Happiness  ...  \nAn apocalyptic thriller that takes place in ...
...                                       ...  ...                                                ...
1984    Untitled K-Pop Latin American Project  ...  \nYoung men from Latin America audition for an...
1985                             Bite Sisters  ...  \nThis story follows Han Yi Na a vampire who s...
1986                            Adult Trainee  ...                                     \nAdd a Plot\n
1987                            A good supper  ...                                     \nAdd a Plot\n
1988                           User Not Found  ...                                     \nAdd a Plot\n

[1989 rows x 8 columns]

In [29]:
df.head()

                                     Title  ...                                        Short Story
0                                Hellbound  ...  \nPeople hear predictions on when they will di...
1                               Squid Game  ...  \nHundreds of cash-strapped players accept a s...
2                                  My Name  ...  \nThe story about a woman who joins an organiz...
3  Miraculous: Tales of Ladybug & Cat Noir  ...  \nMarinette and Adrien, two normal teens, tran...
4                                Happiness  ...  \nAn apocalyptic thriller that takes place in ...

[5 rows x 8 columns]

In [30]:
df.tail()

                                      Title  ...                                        Short Story
1984  Untitled K-Pop Latin American Project  ...  \nYoung men from Latin America audition for an...
1985                           Bite Sisters  ...  \nThis story follows Han Yi Na a vampire who s...
1986                          Adult Trainee  ...                                     \nAdd a Plot\n
1987                          A good supper  ...                                     \nAdd a Plot\n
1988                         User Not Found  ...                                     \nAdd a Plot\n

[5 rows x 8 columns]

In [31]:
df['Title'].head()

0                                  Hellbound
1                                 Squid Game
2                                    My Name
3    Miraculous: Tales of Ladybug & Cat Noir
4                                  Happiness
Name: Title, dtype: object

In [32]:
df[['Title', 'Rating']].head()

                                     Title Rating
0                                Hellbound    6.7
1                               Squid Game    8.1
2                                  My Name    7.9
3  Miraculous: Tales of Ladybug & Cat Noir    7.7
4                                Happiness    8.6

In [33]:
df = df.drop("Short Story", axis=1)
df.head()

                                     Title  ...                                              Stars
0                                Hellbound  ...  Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...
1                               Squid Game  ...  Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...
2                                  My Name  ...  Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...
3  Miraculous: Tales of Ladybug & Cat Noir  ...  Cristina Valenzuela, Bryce Papenbrook, Keith S...
4                                Happiness  ...  Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...

[5 rows x 7 columns]

In [34]:
df = df.set_index('Title')
df.head()

                                             Year  ...                                              Stars
Title                                              ...
Hellbound                                (2021– )  ...  Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...
Squid Game                               (2021– )  ...  Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...
My Name                                  (2021– )  ...  Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...
Miraculous: Tales of Ladybug & Cat Noir  (2015– )  ...  Cristina Valenzuela, Bryce Papenbrook, Keith S...
Happiness                                (2021– )  ...  Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...

[5 rows x 6 columns]

In [35]:
df.loc['Squid Game']

Year                                               (2021– )
Rating                                                  8.1
Votes:                                              339,931
Time                                                 55 min
Genre                                Action, Drama, Mystery
Stars     Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...
Name: Squid Game, dtype: object

In [36]:
df.loc[['Squid Game', 'Happiness']]

                Year  ...                                              Stars
Title                 ...
Squid Game  (2021– )  ...  Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...
Happiness   (2021– )  ...  Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...

[2 rows x 6 columns]

In [37]:
df.iloc[3]

Year                                               (2015– )
Rating                                                  7.7
Votes:                                                9,439
Time                                                 20 min
Genre                          Animation, Action, Adventure
Stars     Cristina Valenzuela, Bryce Papenbrook, Keith S...
Name: Miraculous: Tales of Ladybug & Cat Noir, dtype: object

In [38]:
df.iloc[2:5]

                                             Year  ...                                              Stars
Title                                              ...
My Name                                  (2021– )  ...  Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...
Miraculous: Tales of Ladybug & Cat Noir  (2015– )  ...  Cristina Valenzuela, Bryce Papenbrook, Keith S...
Happiness                                (2021– )  ...  Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...

[3 rows x 6 columns]

In [39]:
df = df.drop('My Name', axis=0)
df.head()

                                             Year  ...                                              Stars
Title                                              ...
Hellbound                                (2021– )  ...  Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...
Squid Game                               (2021– )  ...  Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...
Miraculous: Tales of Ladybug & Cat Noir  (2015– )  ...  Cristina Valenzuela, Bryce Papenbrook, Keith S...
Happiness                                (2021– )  ...  Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...
Dr. Brain                                (2021– )  ...  Sun-kyun Lee, June Yoon, Yoo-Young Lee, Hee-so...

[5 rows x 6 columns]